<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymMastersCompose"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GymMastersCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.BalanceBall.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ganainy.BalanceBall.BouncingBallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ganainy.AndroidBall.BallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ganainy.gymmasterscompose.ui.screens.static_test.OnlyRefreshChartDataActivity"
            android:theme="@style/AppTheme.EdgeToEdge.Material"
            android:exported="true">
            <!-- Optional: 如果该 Activity 可以接收 Intent 可以添加 Intent filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.gymmasterscompose.ui.screens.static_test.SpecialChartActivity"
            android:theme="@style/AppTheme.EdgeToEdge.Material"
            android:exported="true">
            <!-- Optional: 如果该 Activity 可以接收 Intent 可以添加 Intent filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.galaxyrun.activity.GalaxyRunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.galaxyrun.activity.GameActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.ganainy.DroidJet.DroidJetActivity"
            android:theme="@style/Theme.DroidJet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.racingcar.ui.RacingCarActivity"
            android:exported="true"
            android:label="赛车游戏"
            android:theme="@style/Theme.RacingCar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.spacedude.SplashActivity"
            android:exported="true"
            android:theme="@style/GdxTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.spacedude.SpaceDudeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/GdxTheme"
            tools:ignore="LockedOrientationActivity" />
        <meta-data
            android:name="android:screenSize"
            android:value="1920x1080" />
        <activity
            android:name="com.ganainy.pixelwheels.android.main.AndroidLauncher"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.LD47.LD47Launcher"
            android:exported="true"
            android:label="@string/LD47_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.FishingGame.FishingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowBackup="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.bikemessenger.MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.bikemessenger.ResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ganainy.bikemessenger.BikeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- To share logs via email -->
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="com.agateau.tinywheels.android.fileprovider"
            android:exported="false"
            android:allowBackup="true"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.ganainy.bikeracing.BikeRacingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.kugel.ConfigActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.ganainy.kugel.KugelActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.supersnake.SuperSnakeLauncher"
            android:exported="true"
            android:label="超级贪吃蛇"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.flyingfish.StartFishingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.ganainy.flyingfish.StartUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ganainy.flyingfish.GameOverActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.ganainy.flyingfish.FlyingFishActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"/>

        <activity android:name="com.ganainy.EatFishGame.EatFishActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name="com.ganainy.EatFishGame.OyunEkraniActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name="com.ganainy.EatFishGame.SonucEkraniActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ganainy.motoman.MotomanActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganainy.PortApplication.MultiSerialPortActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ganainy.PortApplication.SingleSerialPortActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <!--查看哪些串口是否可用-->
        <activity android:name="com.ganainy.PortApplication.SelectSerialPortActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ganainy.PortApplication.PortActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
    </application>

</manifest>